html{
  background-image: url(fond.png);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo {
  height: 30vmin;
}

.App-logo-equipe {
  height: 20vmin;
  width: 20vmin;
}

.App-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.App-texte {
  color:white;
  font-size: 3vw;
  font-weight: bold;
}

input[type=button], input[type=submit], input[type=reset], button, .button {
	padding: 5px 15px;
	margin: 3px 4px;
	display: inline-block;
	color: #FFFFFF;
	font-size: 2vw;
	cursor: pointer;
	background: #13ece2;
	background: linear-gradient(top, #13ece2 0%, #00d3c9 100%);
	border: 2px solid #FFFFFF;
	border-radius: 30px;
	box-shadow:0px 0px 4px 2px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.50);
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover, .button:hover {
	background: linear-gradient(top, #2dfffc 0%, #13ece2 100%);
}
input[type=button]:active, input[type=submit]:active, input[type=reset]:active, button:active, .button:active{
	opacity:0.8;
}

#labelPseudo {
  color:#151FC9;
  font-size: 2vw;
  font-weight: bold;
}

#labelEquipe {
  color:#13ECE1;
  font-size: 2vw;
  font-weight: bold;
}
